/* ln -s ~/Personal/dotfiles/waybar/style.css ~/.config/waybar/style.css */

* {
    border: none;
    font-family: "JetbrainsMono Nerd Font" ;
    font-size: 12px;
    min-height: 3px;
}

/*
window#waybar {
    background: transparent;
}
*/

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}
#tags {
    margin-top: 2px;
    margin-left: 12px;
    font-size: 4px;
    margin-bottom: 2px;
    background: #161320;
    transition: none;
    border-radius: 2px;
}

#tags button {
    transition: none;
    color: #B5E8E0;
    background: transparent;
    font-size: 16px;
    border-radius: 2px;
}

#tags button.occupied {
    transition: none;
    color: #F28FAD;
    background: transparent;
    font-size: 4px;
}

#tags button.focused {
    color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}

#network {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    transition: none;
    color: #161320;
    background: #bd93f9;
    border-radius: 2px;
}

#pulseaudio {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    transition: none;
    color: #1A1826;
    background: #FAE3B0;
    border-radius: 2px;
}

#battery {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    transition: none;
    color: #161320;
    background: #B5E8E0;
    border-radius: 2px;
}

#battery.charging, #battery.plugged {
    color: #161320;
    background-color: #B5E8E0;
    border-radius: 2px;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 2px;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    transition: none;
    color: #161320;
    background: #F8BD96;
    border-radius: 2px;
}
#clock {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    transition: none;
    color: #161320;
    background: #ABE9B3;
    /*background: #1A1826;*/
    border-radius: 2px;
}

#memory {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #DDB6F2;
    border-radius: 2px;
}
#cpu {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 2px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #96CDFB;
    border-radius: 2px;
}

#tray {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 2px;
    transition: none;
    color: #B5E8E0;
    background: #161320;
    border-radius: 2px;
}

#custom-launcher {
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 5px;
    padding-right: 12px;
    transition: none;
    background: #89DCEB;
    color: #161320;
    border-radius: 2px;
}

#custom-power {
    font-size: 20px;
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #F28FAD;
    border-radius: 2px;
}

#custom-wallpaper {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #C9CBFF;
    border-radius: 2px;
}

#custom-updates {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #E8A2AF;
    border-radius: 2px;
}

#custom-media {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #F2CDCD;
    border-radius: 2px;
}

#bluetooth {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #F2CDCD;
    border-radius: 2px;
}

#tray {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    color: #161320;
    background: #C9CBFF;
    border-radius: 2px;
}
